body{
    background-color: #cacaca;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;

    --primaryColor: #D9D9D9;
    --secondaryColor: #666666;
}

header{
    background-color: brown;
    padding: 10px 50px;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-title{
    width: 40vw;
    font-size: 3vw;
}

#search-bar{
    width: 50vw;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--secondaryColor);
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
}


#websites-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.website-card{
    width: 500px;
    height: 250px;
    border-radius: 15px;
    background: var(--primaryColor);
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

.website-title{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.website-img{
    height: 145px;
    width: 145px;
}

.card-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--secondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s all;
    user-select: none;
}

.card-btn:hover{
    background-color: var(--secondaryColor);
    color: white;
}
.card-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.card-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.link-img{
    width: 32px;
    height: 16px;
}

.hidden{
    display: none !important;
}