#main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.site{
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
    min-width: 550px;
    max-width: 550px;
}

.site-title{
    font-family: roboto;
}

.description-title{
    font-weight: bold;
    color:red;
    font-family: Madimi one ;
    font-size: 16px;
}

.description-paragraphe{
    font-family: Madimi one ;
    font-size: 13px;
}

